bin/Debug/netcoreapp2.1/DatingApp.API.dll
bin/Debug/netcoreapp2.1/DatingApp.API.pdb
obj/Debug/netcoreapp2.1/DatingApp.API.dll
obj/Debug/netcoreapp2.1/DatingApp.API.pdb
obj/Debug/netcoreapp2.1/DatingApp.API.assets.cache
